*{
    margin: 0px;
    padding: 0px;
}

/* Scrollbar Adjustments */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {background: #888; }
::-webkit-scrollbar-thumb:hover {background: #555; }

body {
    
    background-color: #312c2d;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color:#242323;
    text-align: center;
    height: 50px;
    margin: 0px;
}

#title {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#slider {
    background-color: #AFBFC0;
    text-align: center;
    /*height: 250px;*/
    padding: 20px;
}

button {
    border: none;
    background: none;
    color: white;
    padding-right:20px;
    padding-left:20px;
    transition: background 0.2s ease-in-out;
}

button:hover {
    background: #443f40 ;
}

#navlist li {
    display:inline-block;
}

section {
    text-align: center;
    padding: 15px;
    

    margin-right: 10%;
	margin-left: 10%;
}

footer {
    background-color: #242323;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    width:100%;

}

.sm_logo {
    width:20px;
}

#social_media li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 1000px) {
    section {
        margin:0px;
        margin-left:0px;
    }
}