*{
    margin: 0px;
    padding: 0px;
}

body {
    
    background-color: #312c2d;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #443f40;
    text-align: center;
    height: 50px;
    margin: 0px;
}

#title {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#slider {
    background-color: #AFBFC0;
    text-align: center;
    height: 250px;
    width: 100%;
}

button {
    border: none;
    background: none;
    color: white;
    padding-right:20px;
    padding-left:20px;
    transition: background 0.5s ease-in-out;
}

button:hover {
    background: #172a3a;
}

#navlist li {
    display:inline-block;
}