header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #172a3a;
  text-align: center;
}

header h1 {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  background-color: #3c474b;
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

nav {
  text-align: center;
  margin: 0px;
} 

nav button {
  border: none;
  background: none;
  color: white;
  padding-right:20px;
  padding-left:20px;
  height: 40px;
  transition: background 0.2s ease-in-out;
}

nav button:hover {
  background: #443f40;
}

.current {
  background-color: #191e20;
}

nav a {
  text-decoration: none;
  margin: 0;
}

nav img {
	width:20px;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  background-color: #242323;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sliders {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0;
}

section {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.org_img {
  width: 100px;
  transition: transform .2s;
  vertical-align: middle;
} 

.org_img:hover {transform:scale(1.2);}

/*Needs to stay at the bottom*/
@media screen and (max-width: 1000px) {
  section {
      margin:0px;
      margin-left:0px;
  }
}